{{{pinned}}}
<div class="d-block d-lg-block d-xl-block subscriber-wrapper">
    <div class="last-reply-block"><small class="hsuforum-thread-replies-meta">{{{lastposttime}}}</small></div>
    <button type="button" class="trigger-subscribe rounded-pill {{buttonclass}}">
        {{following}}
    </button>
</div>
<div class="d-none d-sm-block d-md-none mobile-btn subscriber-wrapper">
    <div class="last-reply-block"><small class="hsuforum-thread-replies-meta">{{{lastposttime}}}</small></div>
    <button  type="button" class="trigger-subscribe rounded-pill {{buttonclass}}">
        {{followingmobile}}
    </button>
</div>

