<div id="hsuforum-overlay-box"></div>
   <div id="hsuforum-loading-container">
    <div class="hsuforum-loading"></div>
    <p id="hsuforum-loading-text">{{# str }} loadingtext, mod_hsuforum {{/ str }}</p>
 </div>
