{{=<% %>=}}
<%#showtaguserul%>
    <ion-card class="tribute-container" style=
        "position:absolute; 
        z-index:10; 
        display:none; 
        width:max-content;
        max-width:200px;
        ">
        <ul style="list-style: none; background: #efefef; display: inline-block; padding: 2px 13px; margin:0;">
            <%#tagusers%>
                <li id="<% id %>"><% name %></li>
            <%/tagusers%>
        </ul>
    </ion-card>
<%/showtaguserul%>
<ion-content>
    <form #f="ngForm" id="newdiscussionform">
        <ion-list>

            <ion-item>
                <ion-label stacked>Subject</ion-label>
                <ion-input min="8" name="discussiontitle" type="text" [(ngModel)]="CONTENT_OTHERDATA.discussiontitle"></ion-input>
            </ion-item>

            <ion-item>
                <p>Message</p>
                <br>
                <div id="textarea_id1"
                    class="js_tagging" style="min-height: 200px;"
                    contenteditable="true"
                    [innerHTML]=CONTENT_OTHERDATA.sectioncontent 
                    (keyup)="CONTENT_OTHERDATA.discussionbody = $event.target.innerHTML">
                </div>
            </ion-item>

            <%#showgroupsections%>
            <ion-item>
                <ion-label>Group</ion-label>
                <ion-select interface="popover" name="groupselection" [(ngModel)]="CONTENT_OTHERDATA.groupselection">
                    <ion-option value="{{group.id}}" *ngFor="let group of CONTENT_OTHERDATA.groupsections">{{group.name}}</ion-option>
                </ion-select>
            </ion-item>
            <%/showgroupsections%>

            <ion-item>
                <button ion-button full
                    type="submit" core-site-plugins-new-content
                    form="newdiscussionform"
                    samePage=true
                    goBackOnSuccess=true
                    [args]="{cmid:<%cmid%>, groupid:CONTENT_OTHERDATA.groupselection, newdiscussionpost:true, discussionbody:CONTENT_OTHERDATA.discussionbody}"
                    [disabled]="CONTENT_OTHERDATA.discussiontitle.length <= 3">
                    <h3>POST TO FORUM</h3>
                </button>
            </ion-item>

        </ion-list>
    </form>
</ion-content>
