{{=<% %>=}}
<ion-card id="cardid_newdiscussion" class="hsu-add-discussion">
    <form #f="ngForm" id="newdiscussionform">
        <ion-item>
            <ion-label stacked>Subject</ion-label>
            <ion-input placeholder="Subject" min="8" name="discussiontitle" type="text" [(ngModel)]="CONTENT_OTHERDATA.discussiontitle"></ion-input>
        </ion-item>

        <ion-card>
            <strong style="margin-left: 4px;">Message</strong>
            <ion-item class="hsu-text-editor-wrapper">
                <core-rich-text-editor item-content [control]=controls[1] name="rte_new_post"></core-rich-text-editor>
            </ion-item>

            <!-- Mention user button -->
            <button class="mention-user" ion-button clear>
                <span id="newdiscussion">
                    <ion-icon style="margin-right: 2px;" class="icon-md ion-md-at"></ion-icon>
                    Mention User
                </span>
            </button>
            <!-- Mention user search element -->
            <div class="searchfilter" style="display:none;">
                <ion-searchbar></ion-searchbar>
                <ion-list class="filter_list" style="max-height:150px; overflow-y: scroll;">
                    <%#tagusers%>
                        <ion-item id="<% id %>"><% name %></ion-item>
                    <%/tagusers%>
                </ion-list>
            </div>
        </ion-card>

        <%#showgroupsections%>
            <ion-item>
                <ion-label>Group</ion-label>
                <ion-select interface="popover" name="groupselection" [(ngModel)]="CONTENT_OTHERDATA.groupselection">
                    <ion-option value="{{group.id}}" *ngFor="let group of CONTENT_OTHERDATA.groupsections">{{group.name}}</ion-option>
                </ion-select>
            </ion-item>
        <%/showgroupsections%>
        
        <!-- Attachement section -->
        <core-attachments 
            [files]="CONTENT_OTHERDATA.files" 
            [maxSize]="<% maxsize %>" 
            [maxSubmissions]="<% maxattachments %>" 
            [component]="mod_hsuforum" 
            [componentId]="<% cmid %>" 
            [acceptedTypes]="image/jpeg" 
            [allowOffline]="false">
        </core-attachments>

        <ion-item class="add-discussion-button-wrapper">
            <button ion-button full
                [disabled]="CONTENT_OTHERDATA.discussiontitle == '' || controls[1].value == null || controls[1].value == ''"
                onclick="addDiscussion()"
                successMessage 
                goBackOnSuccess="true">
                <h3><% posttoforumlabel %></h3>
            </button>
        </ion-item>
    </form>
</ion-card>
