{{=<% %>=}}
<!--
DISABLED FOR NOW UNTIL NEW TAGGING FUNCTIONALITY HAS BEEN IMPROVED
    <%#showtaguserul%>
        <ion-card class="tribute-container" style=
            "position:absolute; 
            z-index:10; 
            display:none; 
            width:max-content;
            max-width:200px;
            ">
            <ul style="list-style: none; background: #efefef; display: inline-block; padding: 2px 13px; margin:0;">
                <%#tagusers%>
                    <li id="<% id %>"><% name %></li>
                <%/tagusers%>
            </ul>
        </ion-card>
    <%/showtaguserul%>
-->

    <%#firstpost%>
        <ion-card id="cardid_<% id %>">
            <ion-card-header no-padding text-wrap class="card-header card-header-md">
                <ion-item style="background-color: #eeeeee;" text-wrap>
                    <ion-avatar item-start><img src="<% profilesrc %>"></ion-avatar>
                    <h2><span class="core-bold"><% subject %></span></h2>
                    <h3><% firstname %> <% lastname %></h3>
                </ion-item>
            </ion-card-header>

            <ion-card-content padding-top class="card-content card-content-md">
                <core-format-text singleline="false" ><p [innerHTML]="CONTENT_OTHERDATA.firstpost.message"></p></core-format-text>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <%#canreply%>
                        <button
                            ion-button small clear class="js_reply"
                            (click)="CONTENT_OTHERDATA.showform_<% id %> = true"
                            onclick="window.activate_mention_users(event)">
                            <ion-icon class="icon icon-md ion-md-undo" style="margin-right: 4px;"></ion-icon>
                            <span id="<% id %>">Reply</span>
                        </button>
                    <%/canreply%>
                    <!-- Like button -->
                    <button
                        ion-button small clear style="padding: 0"
                        core-site-plugins-call-ws 
                        name="mod_hsuforum_like_post" 
                        [params]="{postid: <% id %>}"
                        [preSets]="{getFromCache: 0, saveToCache: 0}" 
                        successMessage 
                        refreshOnSuccess="true">
                        <% firstpostliked %>
                    </button>
                </ion-col>
            </ion-row>

            <!-- Who liked section -->
            <%#likedescription%>
                <ion-row>
                    <ion-item>
                        <p style="color: #2f6473; background-color: #def2f8; border-color: #d1edf6; padding: 3px 0px;">
                            <% likedescription %>
                        </p>
                    </ion-item>
                </ion-row>
            <%/likedescription%>

            <ion-row>
            <!-- Form to reply to post -->
                <%#canreply%>
                <ion-card *ngIf="CONTENT_OTHERDATA.showform_<% id %>">
                    <form #f="ngForm" id="postformid_<% id %>">
                        <div id="textarea_id<% id %>"
                            class="js_tagging" style="min-height: 200px;"
                            contenteditable="true"
                            [innerHTML]=CONTENT_OTHERDATA.firstpostreplybody 
                            (keyup)="CONTENT_OTHERDATA.sectionbody = $event.target.innerHTML">
                        </div>
                    </form>
                    <!-- Form submit button -->
                    <button
                        ion-button small clear style="float: left;" core-site-plugins-call-ws 
                        name="mod_hsuforum_add_discussion_post" 
                        [disabled]="CONTENT_OTHERDATA.sectionbody <= 3"
                        [params]="{postid: <% id %>, subject: 'RE: <% subject %>', message: CONTENT_OTHERDATA.sectionbody}" 
                        [preSets]="{getFromCache: 0, saveToCache: 0}" 
                        successMessage 
                        refreshOnSuccess="true" 
                        (click)="CONTENT_OTHERDATA.showform_<% id %> = true"
                        >
                        Submit reply
                    </button>
                    <!-- Mention user button -->
                    <button class="mention-user" ion-button small clear style="float: left;">
                        Mention User
                    </button>
                    <!-- Cancel button -->
                    <button
                        ion-button class="form_cancel" small clear style="float: right;"
                        (click)="CONTENT_OTHERDATA.showform_<% id %> = false">
                        Cancel
                    </button>
                    <!-- Mention user search element -->
                    <div class="searchfilter" style="display:none;">
                        <ion-searchbar></ion-searchbar>
                        <ion-list class="filter_list" style="max-height:150px; overflow-y: scroll;">
                            <%#tagusers%>
                                <ion-item id="<% id %>"><% name %></ion-item>
                            <%/tagusers%>
                        </ion-list>
                    </div>
                </ion-card>
                <%/canreply%>
            </ion-row>
        </ion-card>
    <%/firstpost%>


    <!-- REPLIES ON FIRSTPOST -->
    <ion-list>
        <ion-list-header>
            <p>
                <span><% replycount %> <% replylabel %> for discussion</span>
            </p>
        </ion-list-header>
        <ion-card *ngFor="let reply of CONTENT_OTHERDATA.replies" id="cardid_{{reply.id}}">
            <ion-card-header no-padding text-wrap class="card-header card-header-md">
                <ion-item text-wrap>
                    <ion-avatar item-start><img src="{{ reply.profilesrc }}"></ion-avatar>
                    <h3><span class="core-bold">{{ reply.subject }}</span></h3>
                    <h3>{{ reply.firstname }} {{ reply.lastname }}</h3>
                </ion-item>
            </ion-card-header>

            <ion-item>
                <p [innerHTML]=reply.message></p>
            </ion-item>
            <%#canreply%>
            <!-- Button to show reply box -->
            <button
                ion-button small clear style="float: left;" class="js_reply"
                (click)="reply.showform = true"
                onclick="window.activate_mention_users(event)">
                <ion-icon class="icon icon-md ion-md-undo" style="margin-right: 4px;"></ion-icon>
                <span id="{{reply.id}}">Reply</span>
            </button>
            <%/canreply%>
            <!-- Like button -->
            <button
                ion-button small clear style="padding: 0"
                core-site-plugins-call-ws 
                name="mod_hsuforum_like_post" 
                [params]="{postid: reply.id}"
                [preSets]="{getFromCache: 0, saveToCache: 0}" 
                successMessage 
                refreshOnSuccess="true">
                {{reply.liked}}
            </button>
            <!-- View reply button -->
            <button
                ion-button small clear style="float: right;" core-site-plugins-new-content
                title="Replies for {{reply.message}}"
                component="mod_hsuforum" 
                method="view_post_replies"
                [args]="{'postid':reply.id, 'discussionid':reply.discussion}">
                View replies 
            </button>
            <!-- Who liked section -->
            <ion-item *ngIf="reply.likedescription">
                <p style="color: #2f6473; background-color: #def2f8; border-color: #d1edf6; padding: 3px 0px;">
                    {{reply.likedescription}}
                </p>
            </ion-item>
            <!-- Form to reply to post -->
            <%#canreply%>
            <ion-card *ngIf="reply.showform">
                <form #f="ngForm" id="{{reply.postformid}}">
                    <div id="{{reply.textareaid}}"
                        class="js_tagging" style="min-height: 200px;"
                        contenteditable="true"
                        [innerHTML]=CONTENT_OTHERDATA.replybody 
                        (keyup)="reply.replybody = $event.target.innerHTML">
                    </div>
                </form>
                <!-- Form submit button -->
                <button
                    ion-button small clear style="float: left;" type="submit" core-site-plugins-call-ws 
                    name="mod_hsuforum_add_discussion_post" 
                    *ngIf="reply.showform"
                    [disabled]="reply.replybody <= 3"
                    [params]="{postid: reply.id, subject: 'RE:' + reply.subject, message: reply.replybody}" 
                    [preSets]="{getFromCache: 0, saveToCache: 0}" 
                    successMessage 
                    refreshOnSuccess="true" 
                    (click)="reply.showform = true"
                    >
                    Submit reply
                </button>
                <!-- Mention user button -->
                <button
                    ion-button class="mention-user" small clear style="float: left;">
                    Mention User
                </button>
                <!-- Cancel button -->
                <button
                    ion-button class="form_cancel" small clear style="float: right;"
                    (click)="reply.showform = false">
                    Cancel
                </button>
                <!-- Mention user search element -->
                <div class="searchfilter" style="display:none;">
                    <ion-searchbar></ion-searchbar>
                    <ion-list class="filter_list" style="max-height:150px; overflow-y: scroll;">
                        <%#tagusers%>
                            <ion-item id="<% id %>"><% name %></ion-item>
                        <%/tagusers%>
                    </ion-list>
                </div>
            </ion-card>
            <%/canreply%>
        </ion-card>
    </ion-list>
